body {
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 21px;
}

#paragrafoComId {
  background-color: rgb(161, 161, 233);
}

.paragrafoComClass {
  color: red;
}

img {
  width: 50px;
}

header {
  display: flex;
  align-items: center;
  background-color: #ff3f95;
  font-family: 'Anton', sans-serif;

  color: #fff;
  font-size: 20px;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  padding-left: 10px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
  padding-left: 10px;
}